
@import "font.css";
@import "base.css";

body {
    font-family: Quicksand;
    font-size: 26px;
    background-color: #fff;
    line-height: 1.2;
  }

  
  header {
    background-image: url("Illustration/header_colors.png");
    background-size: cover;
    width: 100%;
    margin-bottom: 45px;
    padding-top: 30px;

  }

  h3 {
    font-size:12px
  }

  .work p {
    font-size:18px;
  }

  h2 {
    font-size:24px;
  }
  
  header h1 {
    font-weight: 200;
    font-size: 64px;
    color: #fff;
    padding-left: 20px;
  }
  
  header p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 20px;
    color: #fff;
    max-width:960px;
    font-weight: 700;
    text-align:center;
  }

  .drawing {
    text-align:center;
  }


   p {
    color: #000;

    font-size: 12px;
    line-height:1.2;
    font-weight:400;
 
    /* max-width: 520px; */
    margin-right: auto;
    margin-left: auto;

  }
  
  a {
    text-decoration:none;
    color: #000;
    font-weight:700;
  }
  
  header nav a {
    text-decoration: none;
    color: #fff; 
    font-weight:700;
  }
  
  header nav {
    padding: 10px 20px 20px 20px;
    display: flex;
   justify-content: space-between;  
  }


  
  .icon svg {
    fill: #fff;
  }

  .icon-mobile {
    display:none;
  }


  div.testimonial_quotes {
    padding:20px;
  }

  div.testimonial_quotes p {
    font-size:24px;
    padding-bottom:10px;
  }

 .testimonials a {
    color:#df804b;
  }

  h3 {
    font-size: 12px;
  }
  
  div.work {
    text-align: center;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
  }

  
  div.work h2 {
    font-size: 64px;
    padding-bottom: 20px;
  }
  
  section {
    padding: 20px 40px 50px 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  /* Motion Graphics Section */
  section.motion-graphics-mobile {
    display:none;
  }
  
  section.motion-graphics video {
    padding: 20px 20px 10px 20px;
    height: 540px;
    outline: none;
  }
  
  /* Illustration Section */
  
  section.illustration img {
    height: 400px;
    padding: 20px 20px 10px 20px;
  }
  
  section.print img {
    height: 400px;
    padding: 20px 20px 10px 20px;
  }
  
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer img {
    width: 50px;
    padding-right: 10px;
  }
  
  /*First Media Query  */
  
  @media (max-width: 1000px) {
    section.motion-graphics video {
      height: auto;
      width: 100%;
      padding: 10px;
      padding: 10px;
    }
  
    header {
      text-align: center;
    }
  
    div.work {
      width: 500px;
      margin-right: auto;
      margin-left: auto;
      padding: 0px 10px 5px 10px;
    }
    
      section.illustration img {
      width: 100%;
      height: auto;
      padding: 10px;
    }
  
    div.work h2 {
      font-size: 40px;
      padding-bottom: 10px;
    }
  
     p {
      font-size: 16px;
    }
  }
  
  /* Second Media Query */
  
  @media (max-width: 640px) {
    
    
    section {
      padding-bottom:20px;
    }
    
    
    header h1 {
      font-weight: 200;
      font-size: 32px;
    }
  
  
    section.print img {
      width: 100%;
      height: auto;
      padding: 10px;
    }
  
    div.work {
      width: 300px;
      margin-right: auto;
      margin-left: auto;
      padding: 0px 10px 0px 10px;
    }
  
    div.work h2 {
      font-size: 22px;
      padding-bottom: 5px;
    }
  
    p {
      font-size: 16px;
    }

    div.resumepdf {
      width:100%;
    }
  }
  
  /* last media inquiry */
  
  @media(max-width:400px){ 


    .motion-graphics {
      display:none;
    }



      /* section.motion-graphics video {
    width:100%;
    max-width:500px;
    height:auto;
    
  } */

  section.motion-graphics-mobile {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
  }

  .vid-mobile {
    padding-top:10px;
  }

  div.gnarware-mobile {
    padding-bottom:10px;
  }
    
    header {
      background-image: none;
      width: 300px;
      margin-right: auto;
      margin-left: auto;
      padding: 15px 0 0 0;
      margin-bottom: 5px;
    }
    
    header h1 {
      font-size: 32px;
      color: #000;
      padding-left:0;
    }
    
    header p {
      color: #000;

      font-size: 12px;
      line-height:1.2;
      font-weight:400;
      padding-top: 5px;
      padding: 0 3px 0 3px;

      width:280px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 10px;
    }

     p {

      color: #000;

      font-size: 11px;
      line-height:1.2;
      font-weight:400;
      padding-top: 5px;
      padding-left:0;
      padding-bottom:10px;

      max-width: 960px;
      margin-right: auto;
      margin-left: auto;
      text-decoration:none;

    }

    header nav{
    display: block;
    text-align: center;
    padding:15px 0 5px 0;
  }

  div.resume {
    font-size: 12px;
    padding-bottom: 10px;
  }
    
    header nav a {
       color: #000;

    }
    
    
    .icon svg {
    fill: #000;
  }



  footer {
    font-size:8px;
    justify-content: space-between;
  }

  footer div.icon-mobile {
    display:flex;
    justify-content:center;
  }

  div.resumepdf {
    width:100%;
    height:100%;
    
  }

  section.motion-graphics video {
    padding: 10px 20px 5px 20px;
   
  }
  
  section.illustration img {
    padding: 10px 20px 0px 20px;
  }
  
  section.print img {
    padding: 10px 20px 0px 20px;
  }

  section {
    padding-top:5px;
    padding-bottom:30px;
  }

  .icon {
    display:none;
  }

  .icon-mobile {
    fill:#000;
  }

  .icon-mobile svg {
    padding-right:5px;
  }

  

}