
@import "font.css";
@import "base.css";

body {
  margin-top:250px;
    font-family: Quicksand;
    font-size: 26px;
    background-color: #df804b;
    line-height: 1.2;
  }

  
  header {
    position:fixed;
    top:0;
    left:0;
    /* background-image: url("Illustration/header_colors.png"); */
    background-color:#df804b;
    background-size: cover;
    width: 100%;
    margin-bottom: 45px;
    padding-top: 30px;
    transition: background-color 1s;

    box-shadow: 0 0 10px #df804b;

  }


  header.scrolled {
    background-color:#243757;
  }

  h3 {
    font-size:12px;
    color: #fff;
   
  }

  .work p {
    font-size:18px;
  }

  h2 {
    font-size:24px;
  }
  
  header h1 {
    font-weight: 500;
    font-size: 64px;
    color: #fff;
    padding-left: 20px;
  }
  
  header p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 20px;
    color: #fff;
    max-width:960px;
    font-weight: 700;
    text-align:center;
  }

  .drawing {
    text-align:center;
  }


   p {
    color: #000;

    font-size: 12px;
    line-height:1.2;
    font-weight:400;
 
    /* max-width: 520px; */
    margin-right: auto;
    margin-left: auto;

  }
  
  a {
    text-decoration:none;
    color: #000;
    font-weight:700;
    
  }

  a:hover {
    cursor: cell;
   }
  
  header nav a {
    text-decoration: none;
    color: #fff; 
    font-weight:700;
  
  }
  
  header nav {
    padding: 10px 20px 20px 20px;
    display: flex;
   justify-content: space-between;  
   align-items:center;
  }


  
  .icon svg {
    fill: #fff;
  }

  .icon-mobile {
    display:none;
  }


  div.testimonial_quotes {
    padding:20px;
  }

  div.testimonial_quotes p {
    font-size:24px;
    padding-bottom:10px;
  }

 .testimonials a {
    color:#df804b;
  }

  h3 {
    font-size: 12px;
  }
  
  div.work {
    text-align: center;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
  }

  
  div.work h2 {
    font-size: 44px;
    
  }
  
  section {
  
    padding: 20px 30px 50px 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
  }

  section.motion-graphics {
    
    padding: 20px 20px 10px 20px;
    /* height: 540px; */
    outline: none;
    margin-bottom:30px;
  }

  section.motion-graphics p {
    padding-top:8px;
  }

  section.motion-graphics-mobile{
    display:none;
  }
  

  


  div.vid {
    padding:10px;
  }

  div.vid p {
    padding-top:5px;
  }
  
  /* Illustration Section */
  
  section.illustration img {
    height: 400px;
    padding: 20px 20px 10px 20px;
  }
  
  section.print img {
    height: 400px;
    padding: 30px 30px 10px 30px;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #243757;
    width:100%;
  }
  
  footer a {
    text-decoration: none;
    color:#fff;
    font-size:12px;
  }
  
  footer img {
    width: 50px;
    padding-right: 10px;
  }
  
  /*First Media Query  */
  
  @media (max-width: 1000px) {

    body {
      margin-top:200px;
    }

    section.main p {
      display:none;

    }


    section.motion-graphics video {
      height: auto;
      width: 100%;
      padding: 10px;
      padding: 10px;
    }
  
    header {
      background-image:none;
      text-align: center;
      background-color: #df804b;
      width:100%;
    }

    header nav {
      padding: 10px;
  
    }
  
    div.work {
      width: 500px;
      margin-right: auto;
      margin-left: auto;
      padding: 0px 10px 5px 10px;
    }
    
      section.illustration img {
      width: 100%;
      height: auto;
      padding: 10px;
    }
  
    div.work h2 {
      font-size: 40px;
      padding-bottom: 10px;
    }
  
     header p {
      font-size: 16px;
      max-width:660px;
    }

    header nav a{
    font-size: 16px;
    }

    p {
      font-size: 16px;

    }
  }
  
  /* Second Media Query */
  
  @media (max-width: 640px) {
    
    body {
      margin-top:180px;
    }
    
    section {
      padding-bottom:20px;
    }
    
    
    header h1 {
      font-weight: 200;
      font-size: 32px;
    }
  
  
    section.print img {
      width: 100%;
      height: auto;
      padding: 10px;
    }
  
    div.work {
      width: 300px;
      margin-right: auto;
      margin-left: auto;
      padding: 0px 10px 0px 10px;
    }
  
    div.work h2 {
      font-size: 22px;
      padding-bottom: 5px;
    }
  
    p {
      font-size: 16px;
    }

    div.resumepdf {
      width:100%;
    }
  }
  
  /* last media inquiry */
  
  @media(max-width:400px){ 



section.motion-graphics-mobile{
  padding: 20px 30px 50px 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

section.motion-graphics {
  display:none;
}

    
    header {
     
      margin-bottom: 25px;
    }
    
    header h1 {
      font-size: 32px;
      color: #fff;
      padding-left:0;
    }
    
    header p {
      color: #fff;

      font-size: 12px;
      line-height:1.2;
      font-weight:400;
      padding-top: 5px;
      padding: 0 3px 0 3px;

      width:280px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 10px;
    }

     p {

      color: #fff;

      font-size: 11px;
      line-height:1.2;
      font-weight:400;
      padding-top: 5px;
      padding-left:0;
      padding-bottom:10px;

      max-width: 960px;
      margin-right: auto;
      margin-left: auto;
      text-decoration:none;

    }

    header svg{
      display:none;
    }

    /* header nav{
    display: block;
    text-align: center;
    padding:15px 0 5px 0;
  } */

  div.resume {
    font-size: 12px;
    padding-bottom: 10px;
  }
    
    header nav a {
       color: #fff;
       font-size:11px;

    }

    
    
    .icon svg {
    fill: #fff;
  }



  footer {
    font-size:8px;
    justify-content: space-between;
    padding:8px;
  }

  footer div.icon-mobile {
    display:flex;
    justify-content:center;
  }

  div.resumepdf {
    width:100%;
    height:100%;
    
  }

  section.motion-graphics video {
    padding: 10px 20px 5px 20px;
   
  }
  
  section.illustration img {
    padding: 10px 20px 0px 20px;
  }
  
  section.print img {
    padding: 10px 20px 0px 20px;
  }

  section {
    /* padding:5px 8px 10px 20px; */
    padding-top:5px;
    padding-bottom:30px;
    padding-right: 10px;
    padding-left:10px;
  }



  .icon-mobile {
    fill:#fff;
  }

  .icon-mobile svg {
    padding-right:5px;
    fill: #fff;
  }

  

}