@import "font.css";
@import "base.css";

body {
    font-family: Quicksand;
    font-size: 26px;
    background-color: #df804b;
    line-height: 1.2;
    
  }

  h2 {
      color:#000000;
      font-size:22px;
  }

  h3 {
      font-size:18px;
      
  }

  a {
    color:#000000;
    font-size:18px;
    text-decoration:none;
  }

  .home_button a {
      color:#ffffff;
      padding:10px;
      font-weight:700;

  }

  p {
      padding-bottom:15px;
  }

  section.testimonials {
      margin:100px auto 30px auto;
      padding:50px;
      width:600px;
      background-color:#ffffff;
      text-align:center;
  }

  div.first_quote {
    text-align:center;
  }

  div.gif {
      width:200px;
      margin:0px auto 0px auto;
    
  }

  div {
      padding-bottom:50px;
  }


  @media (max-width:700px){

    section.testimonials {
        margin:30px auto 30px auto;
        padding:10px;
        width:375px;
       
    }


  }


  @media (max-width:400px){

    .gif img {
        width:100px;
    }

    section.testimonials {
        margin:20px auto 20px auto;
        padding:10px;
        width:275px;
       
    }

    div {
        padding-bottom:10px;
    }

  h2 {
    color:#000000;
    font-size:10px;
}

h3 {
    font-size:8px;
    
}

a {
  color:#000000;
  font-size:6px;
  text-decoration:none;
}

.gif img {
    width:100px;
    padding-bottom:15px;
}

p {
    padding-bottom:5px;
}
  


  }